// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|       CONTENU ACTUALITES        |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.contenu-actu{order:1;}
    #colonne-2.contenu-actu{order:2;}
    #colonne-3.contenu-actu{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.contenu-actu{
            @include border-L-rose;
        }
        #colonne-3.contenu-actu{
            
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/

h1.titre_actualites_content{
    font-family: $FontArvo;
    color: $violet;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#colonne-1.contenu-actu,
#colonne-2.contenu-actu{
    h3{
        padding: em(5px) 0;
        font-size: medium;
        margin: 0 0 em(5px) 0;
    }
    p{
        padding: em(5px);
    }
    span{
        font-size: small;
        padding: em(5px);
    }
    strong,b{
        color: $rose-fushia;
    }
    a{
        color: $rouge;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }

    }
}


/*¤¤¤ STYLES PROPRES ¤¤¤*/
#colonne-1.contenu-actu{
    #illus-actu img{
        margin: em(20px);

        border: em(2px) solid $bleu-turquoise;
        @include breakpoint (($desktop,$tablet)){
            float: right;
        }
    }
}
#colonne-2.contenu-actu{




}