// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|       FICHE FORMATION               |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

//Consulter js_jquery_new.js pour controler le retrait de la taille des images produites par PHP 
// inscrite dans le code HTML

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.CLASS_NAME{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-1.fiche-formation{}
        #colonne-2.fiche-formation{@include border-R-rouge;}
        
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.titre_fiche{
    color: $gris-anthracite;
    margin: em(5px);
    line-height: 1em;
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#colonne-1.fiche-formation,#colonne-2.fiche-formation,#colonne-3.fiche-formation{

#deco-ficheform img{
    display: block;
    margin: 0 auto;
    border: em(1px) solid $rouge;
    @include arrondis (em(5px));
    @include PIE;
    position: relative;
}




.content-1,.content-2{
    p{
        padding: em(3px);
    }
    h2{
        color: $rouge;
    }
    h3{
        color: $vert;
    }
} 

#bloc_docs_ficheform{
    padding: em(10px) 0;
    margin: 0 auto;
    width: 95%;
    h3{
        background: transparent;
        color: $gris-anthracite;
        display: block;
        padding: em(5px) em(5px) em(12px);
        text-align: center;
        background-size: contain;
        @include breakpoint ($desktop,$tablet){
            background-size: initial;    
            background: url("../images/bg_infosplus_rouge.jpg") no-repeat scroll em(10px) top transparent;
            color: white;
        }
    }
}


#table-ficheform-docs{
    background: url("../images/bg_bloc_ivoire_ht.jpg") no-repeat scroll left top transparent;
    display: block;
    margin: 0 auto;
    width: 95%;
    background-size: cover;
    @include breakpoint ($desktop,$tablet){
    background-size: initial;    
    }
    tbody{
        display: block;
        height: em(140px);
        padding: em(10px);
        background: url("../images/bg_bloc_ivoire_bas.jpg") no-repeat scroll left bottom transparent;
        border: 0;
        background-size: contain;
        @include breakpoint ($desktop,$tablet){
    background-size: initial;    
    }
    }
tr{
    background: 0;
    border: 0;
    width: 94%;
    display: block;
    padding: 0;
    margin: 0;
}
 
 td{
    display: block;
    width: 100%;
}
 a{
     border-bottom: 1px solid $rouge;
    color: $gris-anthracite;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin:  em(3px) 0;
    font-size: small;
     &:hover{
    color: $rouge;
}
}

}

#bloc_docs_ficheform .filefield-icon {
    display: none;
}
     ul{
        padding:0;
        margin:0;
        
         li{
        padding: em(2px);
        list-style: circle inside none;
        line-height: inherit;
    }
    }   
}

/*¤¤¤ STYLES PROPRES ¤¤¤*/
#colonne-1.fiche-formation{
    
    
    margin: 0 5px 0 0;

    h3{
        color: $rose-fushia;
    }
    ul{
        padding:0;
        margin:0;
        
         li{
        padding: em(2px);
        list-style: square inside none;
        line-height: inherit;
    }
    }
    .complement_titre_fiche h3{
        font-size: small;
        color: $vert;
        text-align: right;
    }

    .programme{
        font-size: small;
        a{
            text-decoration: none;
            color: $violet;
            padding: em(2px);
            font-size: small;
            &:hover{
                color: $gris-clair;
                background: $violet;
            }
        }
    }

    .lien-ficheform{
        font-size: small;
        a{
            text-decoration: none;color: $violet;padding: em(2px);
            &:hover{
                color: $gris-clair;
                  background: $violet;
            }
        }
    }

}


#colonne-2.fiche-formation{
    p{
        line-height: 1.5em;
        padding: 0.325em;
        margin: 0;
    }
    h2{
        font-size: inherit;
        color: $violet;
        padding: em(3px);
    }
    h3{
        font-size: small;
        color: $vert;
        padding: em(2px);
    }
    ul li{
        padding: em(2px);
        /*list-style: square none;*/
        line-height: inherit;
    }
    .diapo_fiche{
        margin: em(5px) 0;
        padding: 0;
        
        img{
            border: em(1px) solid $vert;
            padding: em(2px);
            zoom: 0.97;
            margin: 0 auto;
            display: block;
        }
    }
}

