/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       FRONTPAGE  PANORAMIQUE         |
|--------------------------------------*/

  //@include susy-breakpoint ($mobile){}
  //@include breakpoint ($desktop){}
  //@include susy-breakpoint ($tablet){}

  body{
      background: none;
      @include breakpoint ($desktop,$tablet){
              
              background:transparent  url(../images/bg_body_no-rp.jpg) no-repeat em(-112px) top ;/*reduction de 4lignes : -112px*/
          }
      section.conteneur{
          background: white;
          @include breakpoint ($desktop,$tablet){
              background: none;
          }
      }
  }

/********************/
/*ZONES PAGE ACCUEIL*/

.content-bottom-home {
    table{width: auto;}
    a {
        //@include zocial;
    }
    ul{
         @include horizontal-list;
        li{}
    }
}

/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE  PANORAMIQUE----*/

//Voir fichier _layout-diapo-frontpage.scss pour le style et le layout du diapo



/*********************************
---- STYLE HOMEPAGE ACTUS -----------
*********************************/

.HPBasGauche,.HPBasDroit{
    ul li{
        list-style: square;
    }
    a{
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
    }
    h3,h3.block-title{
        text-align: center;
        color: $rouge;
        margin: 1em 0 0 0;
        font-family: $AristaFont;
    display: block;
    font-size: large;
    }
    tr{
        background: 0;
        border: 0;
    }
     img{@include adaptable-img;
         display: block;
    margin: 0 auto;
     }
    iframe{
        /*Video présentation lycée*/

    
        border: em(2px) solid $rouge;
    padding: em(3px);
        @include breakpoint ($desktop){
            margin: 1em auto;
        }
        
    }
}
/*DEFILANT CONTENU PONCTUEL*/
aside.DiapoPanoHP {
    .defilant-ponctuel{
        font-size: medium;color: $rose-fushia;display: block;text-align: center;font-weight: bold;margin: em(10px) 0;
    background: $gris-clair-moyen;padding: em(5px);height: em(40px);
    }
    
    .ponctuel{display: block;width: auto;}
}
/* Texte Accueil */
.HPBasGauche{
    .txt-accueil{
        padding: 0 em(5px);
        p{
            font-size: small;
        }
        strong{color: $violet;}
        a{text-decoration: none;color: $rouge;padding: em(1px);
          &:hover{background: $rouge;color: $gris-clair;}
        }
    }

}

/*Liste pour homepage*/
.HPBasDroit{
    #table-actus-hp, #table-actus-hp2{
        width: 100%;
        margin: 0 auto;
        border: 0;
        thead th{
            border-bottom: 3px solid #AEC81F;
        }
        tbody{}
        tr{
            margin: em(6px) auto;
            display: block;
            width: 85%;
        }
        td{
            background: white;
            border: 0;
            margin: 2px 0;
            padding: 5px;
            display: block;
            border-bottom: 1px solid $rouge;
            &:hover{
                background: $rouge;
            }
        }
        a{
            color: $gris-anthracite;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            display: block;
            font-size: small;
            &:hover{
                text-decoration: underline;
                color: white;
            }
        }
        span.date-display-single{
            text-align: right;
            float: right;
            font-style: italic;
        }
    }
}



/*
LIKEBOX FACEBOOK ====
*/
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}