// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       FRONTPAGE  PANORAMIQUE         |
|--------------------------------------*/

  //@include susy-breakpoint ($mobile){}
  //@include susy-breakpoint ($desktop){}
  //@include susy-breakpoint ($tablet){}


/********************/
/*ZONES PAGE ACCUEIL*/

.content-bottom-home {
    table{width: auto;}
    a {
        //@include zocial;
    }
    ul{
         @include horizontal-list;
        li{}
    }
}

/*---DIAPORAMA HOMEPAGE TEXTE DYNAMIQUE  PANORAMIQUE----*/

//Voir fichier _layout-diapo-frontpage.scss pour le style et le layout du diapo



/*********************************
---- STYLE HOMEPAGE ACTUS -----------
*********************************/

.HPBasGauche,.HPBasDroit{
    ul li{
        list-style: square;
    }
    a{
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
    }
    h3,h3.block-title{
        text-align: center;
        color: $orange;
        margin: 1em 0 0 0;
    }
     img{@include adaptable-img;}
    iframe{
        @include breakpoint ($desktop){
            margin: 1em 0 0 2em;
        }
        
    }
}
/*DEFILANT CONTENU PONCTUEL*/
aside.DiapoPanoHP {
    .defilant-ponctuel{
        font-size: medium;color: $rose-fushia;display: block;text-align: center;font-weight: bold;margin: em(10px) 0;
    background: $gris-clair-moyen;padding: em(5px);height: em(40px);
    }
    
    .ponctuel{display: block;width: auto;}
}


/*
LIKEBOX FACEBOOK ====
*/
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}