// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE ACTUALITE GLOBALE      |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.page-actualites{order:2;}
    #colonne-2.page-actualites{order:1;}
    #colonne-3.page-actualites{order:3;}
    @include breakpoint ($desktop){
        #colonne-1.page-actualites{order:1;}
        #colonne-2.page-actualites{order:2;}
        #colonne-3.page-actualites{order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.page-actualites{}
    }

}
/*######-------- ||| STYLE ||| --------######*/
h1.titre_page_actualites{
    margin: em(3px);
    color: $violet;
    text-align: center;
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#colonne-1.page-actualites,
#colonne-2.page-actualites,
#colonne-3.page-actualites{
    .actu-txt-vide p{
        padding: em(25px) em(5px);
        text-align: center;
    }
    //Grands blocs - taille
    #block-views-Actu_liste-block_5,#block-views-Entreprise-block_1,
    #block-views-Actu_liste-block_3,#block-views-Actu_liste-block_4,#block-views-Entreprise-block_2,
    #block-views-Entreprise-block_4{
        width: 93%;
        margin: 0 auto;
        padding: em(0px) 0 0;

        h3{
            color: white;
            font-family:  $AristaFont;
            font-size: x-large;
            text-align: center;
            padding: 0;
        }
        .view-footer{

            text-align: center;
            padding: em(3px) 0 0;
            width: 100%;
            margin: 0 auto;
            a{
                color: white;
                font-family:  $AristaFont;
                font-size: 12px;
                text-decoration: none;
                &:hover{
                    text-decoration: underline
                }
            }
        }
    }

    //Visuels differents selon couleur
    #block-views-Actu_liste-block_3,#block-views-Actu_liste-block_4,#block-views-Entreprise-block_2,
    #block-views-Entreprise-block_4{
        background:  url(../images/bg_bloc_rouge_ht.jpg) no-repeat left top ;
        background-size: cover;

        .view-footer{
            background: url(../images/bg_bloc_rouge_bas.jpg) no-repeat left bottom ;
            background-size: contain;
        }

    }
    #block-views-Actu_liste-block_5,#block-views-Entreprise-block_1{
        background:  url(../images/bg_bloc_violet_ht.jpg) no-repeat left top ;
        background-size: cover;
        .view-footer{
            background: url(../images/bg_bloc_violet_bas.jpg) no-repeat left bottom ;
            background-size: contain;
        }
    }


}



/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#colonne-1.page-actualites{}
#colonne-2.page-actualites{}
#colonne-3.page-actualites{}


/*block-views-Actu_liste-block_3=projet;
block-views-Actu_liste-block_5=RP;
block-views-Actu_liste-block_4=sorties;
block-views-Actu_liste-block_6=annonces;
*/

#table_ag_projets,#table_ag_sorties,#table-entr-ve{
    margin: 0 auto;
    width: 100%;
    tbody{
        background: none;
        
        padding: 25px 0 0;
    }
    tr{
        background: none;
        border: 0;
         width: 95%;
    margin: 0 auto;
    display: block;
    }
}

#table_ag_projets{
    tr{
       
    }
td{
    text-align: center;
}
a{
    text-decoration: none;
    color: $gris-anthracite;
    font-weight: bold;
    font-size: small;
    &:hover{
    color: $gris-clair;
}
}

hr.sep-actus-rouge{
   
    margin: 0 auto;
    border: 1px solid $rouge;
    height: 1px;
}
}


#table_ag_sorties,#table-entr-ve{
    a{
        color: $violet;
        font-weight: bold;
        text-decoration: none;
        padding: em(2px);
        display: block;
        font-size:small;
        &:hover{
            color: $rouge;
            img{
    @include opacity(0.6);


    -moz-box-shadow:inset 0 0 2px #CCC;
    -webkit-box-shadow:inset 0 0 2px #CCC;
    box-shadow:inset 0 0 2px #CCC;
}
        }
    }


}

/*Titre sur image*/
.titre_actuGlobale{
    bottom: 30px;
    left: 3px;
    position: relative;
    width: 190px;
    z-index: 20;
    background: white;
    display: block;

}
.titre_actuGlobale a,.image_actuGlobale img a{

}
.titre_actuGlobale a:hover{
    background: $gris-clair;
    text-decoration: none;
}
.image_actuGlobale{
    height:75px;
    position:relative;
    width:301px;
    z-index:15;
}
.image_actuGlobale img:hover{
    -moz-box-shadow:inset 0 0 2px #000000;
    -webkit-box-shadow:inset 0 0 2px #000000;
    box-shadow:inset 0 0 2px #000000;
}
/*--------------------------------------
        BLOC REVUE PRESSE ACTU GLOBALE
        BLOC JOURNEE INTERPRO (ENTR.)
        BLOC PARTENAIRES (ENTR.)
---------------------------------------*/





#table_ag_rp,#table-entr-ji{

    margin: 0 auto;
    width: 100%;
    tbody{
        background: none;
        display: block;
        padding: 25px 0 0;
    }
    tr{
        background: none;
        border: 0;
        width: 95%;
    margin: 0 auto;
    display: block;
    }
    td{
        text-align: center;
        display: block;
    }
    a{
        text-decoration: none;
        color: $gris-anthracite;
        font-weight: bold;
        font-size:small;
        &:hover{
            color: $gris-clair;
        }
    }
}




hr.sep-actus-violet{
    
    margin: 0 auto;
    border: 1px solid #94127F;
    height: 1px;
}

/*------------------------------
        BLOC ANNONCES
-----------------------------*/

#block-views-Actu_liste-block_6 tr{}
#block-views-Actu_liste-block_6 td{}

#block-views-Actu_liste-block_6, #block-views-Entreprise-block_3{
    background:  url(../images/bg_bloc_violet_petit_ht.jpg) no-repeat left top ;
    width: 210px;
    margin: 0 auto;
    padding: 5px 0 0;
}
#block-views-Actu_liste-block_6 h3, #block-views-Entreprise-block_3 h3{
    color: white;
    font-family:  $AristaFont;
    font-size: 20px;
    text-align: center;
}
#block-views-Actu_liste-block_6 .view-footer,#block-views-Entreprise-block_3 .view-footer{
    background: url(../images/bg_bloc_violet_petit_bas.jpg) no-repeat left bottom ;
    text-align: center;
    padding: 3px;
}
#block-views-Actu_liste-block_6 .view-footer a,#block-views-Entreprise-block_3 .view-footer a{
    color: white;
    font-family:  $AristaFont;
    font-size: 12px;
    text-decoration: none;
}
#block-views-Actu_liste-block_6 .view-footer a:hover,#block-views-Entreprise-block_3 .view-footer a:hover{
    text-decoration: underline
}
#table_ag_annonces tbody,#table_entr_docprat{width: 200px;}
#table_ag_annonces td,#table_entr_docprat td{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    margin: 5px 0;
    padding: 0 0 0 5px;
    width: 200px;
}
#table_ag_annonces tr,#table_entr_docprat tr{
    background: none repeat scroll 0 0 transparent;
    border: 0;

}
#table_ag_annonces a,#table_entr_docprat a{
    text-decoration: none;
    color: $gris-anthracite;
}
#table_ag_annonces a:hover,#table_entr_docprat a:hover{
    background: $rouge;
    color: white;
}
#block-views-Actu_liste-block_6 .view-footer{text-align: center;padding: 0px;}
#block-views-Actu_liste-block_6 .view-footer a{color: white;
                                               font-family:  $AristaFont;
                                               font-size: 12px;
                                               text-decoration: none;
}
#block-views-Actu_liste-block_6 .view-footer a:hover{
    text-decoration: underline
}
/*------------------------
BLOC FLUX RSS ACTU DE L'ASSO
-----------------------------*/
#block-aggregator-feed-1{
    h3{
        color: #01ABCF;
        font-family: arista,Trebuchet MS,sans-serif;
        padding: 5px;
        text-align: center;
        font-size: 18px;
    }
    ul{
        list-style: none;
        background:  url(../images/bg_doc_utile_rp.jpg) repeat left top ;
        margin: 0 auto;
        width: 200px;
        padding: 20px 0;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        @include PIE;

        position: relative;
        li{
            margin: 5px 0;
            list-style: none;
            a{
                text-decoration: none;
                padding: 2px;
                display: block;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                @include PIE;

                position: relative;
                width: 175px;
                margin: 0 auto;
                color: white;
                background: $rouge;
                &:hover{
                    background: white;
                    color: $rouge;
                    text-decoration: none;
                }
            }
        }
    }
} 
