// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|           CONTENU VDL                |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}


/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    .titre-flex{order:0;}
    #bloc-gauche-pole{}
    #bloc-centre-pole {}
    #bloc-droit-pole {}
    @include breakpoint ($desktop){
        .titre-flex{order:0;max-height: 4em;}
        .pole_col1 {order:1;}
        .pole_col2  {order:2;}
        .pole_col3 {order:3;}
    }
}
/*######-------- ||| BORDURES ||| --------######*/
body .conteneur{
    @include breakpoint ($desktop){
        
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.page-pole{
    text-align: center;
      font-family: $AristaFont;
      font-size: x-large;
      color: $rouge;
}

/*********************************
----------------------------------
---- PAGE POLE FORMATION NODE.TPL --
----------- LISTE --------------
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
/*¤¤¤ STYLES COMMUNS ¤¤¤*/

.page-pole {
    h3.title{
        background: url("../images/bg_titre_pole.jpg") no-repeat scroll left top transparent;
        color: white;
        display: block;
        font-family: $AristaFont;
        font-size: medium;
        height: em(30px);
        margin: 0 auto;
        padding: 12px 0;
        text-align: center;
        width: 93%;
    }
    .table-pole-formations{
        width: 90%;
        margin: 0 auto;
        background: url("../images/bg_ivoire_pole.jpg") no-repeat scroll left top transparent;
        display: block;
        padding: 10px 5px;
        tbody{
            width: 100%;
            display: block;
            border: 0;
        }
        tr{
            display: block;
            margin: 0 auto;
            width: 95%;
            background: 0;
            border: 0;

        }
        td{
            padding: 5px 11px;
            width: 91%;
            display: block;
            a{

            }
        }

        a{
            text-decoration: none;
            color: $gris-anthracite;
            font-weight: bold;
            font-size: small;
            display: block;
            text-align: center;

            padding: em(10px) 0;
            &:hover{
                color: $rouge;
            }
        }

        p{
            display: block;
            padding: 0;
            text-align: center;

        }
    }

    hr.sep-liste-pole{
        border-bottom: em(1px) solid $rouge;
        width: 75%;
        margin: 0 auto;
        height: 0;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
