// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM                |
|               NODE.TPL                      |
|               PAGE ARCHIVE              |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.CLASS_NAME{order:1;}
    #colonne-2.CLASS_NAME{order:2;}
    #colonne-3.CLASS_NAME{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
        #colonne-2.page-archive{
          @include border-L-rose;
        }
    }

}
/*######-------- ||| STYLE ||| --------######*/
h1.titre_page_archives{
    color: $rose-fushia;
}

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#colonne-1.page-archive,
#colonne-2.page-archive,
#colonne-3.page-archive
{
   .table_archives_actus{
    padding: em(5px);
     tbody{}
 tr{
     margin: em(5px) 0;
     border: 0;
     background: none;
}
 td{
     margin: em(5px) 0;
    display: block;
    padding: em(3px);
}
 a{
        text-decoration: none;
    font-size: small;
    font-weight: bold;
    margin: 0 em(10px);
    color: $rouge;
     &:hover{
      color: $violet;
}
}

span{
    font-size: small;
}

 hr{
   background: $rouge;
    width: 75%;
    margin: 0 auto;
    height: em(2px);
    border: 0;
    @include ombrage-bas(0em, 0em, 0.3em, #aaa);
}
 img{
    float: right;
    border: em(2px) solid $gris-clair;
}
}

/*Pour alignement selecteurs liste archive Entreprise*/
#views-exposed-form-Archives-block-2 .views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 0.5em 0px 0px;
}
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#colonne-1.page-archive{}
#colonne-2.page-archive{
    .views-exposed-form{
        max-width:90%;
        margin:0 auto;
         .views-exposed-widget {
    float: left;
    padding: 0.5em 0.5em 0px 0px;
    max-width: 35%;
}
label{
    font-size: small;
}
    }
}
#colonne-3.page-archive{}
